/tests/data
__pycache__
*.pyc
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
.pytest_cache/
__pycache__
.vscode
*.egg-info
~*
dds_orig/DICOM_STRUCTURED
dds_orig/data
dds_orig/NIFTI*
dds_orig/Output
dds_orig/Res_orig
dds_orig/RGB_images
dds_orig/me_xnat

