/tests/data
__pycache__
*.pyc
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
.pytest_cache/
__pycache__
.vscode
*.egg-info
~*
dds4xnat/DDS_main/DICOM_STRUCTURED
dds4xnat/DDS_main/data
dds4xnat/DDS_main/NIFTI*
dds4xnat/DDS_main/Output
dds4xnat/DDS_main/Res_orig
dds4xnat/DDS_main/RGB_images
dds4xnat/DDS_main/me_xnat

