/tests/data
__pycache__
*.pyc
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
.pytest_cache/
__pycache__
.vscode
*.egg-info
~*
deepdicomsort4xnat/DDS_main/DICOM_STRUCTURED
deepdicomsort4xnat/DDS_main/data
deepdicomsort4xnat/DDS_main/NIFTI*
deepdicomsort4xnat/DDS_main/Output
deepdicomsort4xnat/DDS_main/Res_orig
deepdicomsort4xnat/DDS_main/RGB_images
deepdicomsort4xnat/DDS_main/me_xnat

